<div class="container">
  <div class="sidebar">
    <app-log-sidebar
      [processorTypes]="processorTypes"
      [selectedProcessor]="selectedProcessor"
      [selectedLevels]="selectedLevels"
      (fileSelected)="handleFileSelected($event)"
      (levelsChanged)="handleLevelsChanged($event)"
      (processorSelected)="handleProcessorSelected($event)"
      (exportProcessor)="exportProcessor()"
      (deleteProcessor)="deleteProcessor()"
      (resetRequested)="resetAll()"
      ></app-log-sidebar>
  </div>

  <div class="main-content">
    <app-log-summary [fileName]="fileName"></app-log-summary>

    <app-log-table
      [logs]="filteredLogs"
      [selectedLevels]="selectedLevels"
      [currentPage]="currentPage"
      [logsPerPage]="logsPerPage"
      (pageChange)="handlePageChange($event)">
    </app-log-table>
  </div>
</div>
